<div class="card shadow-lg mt-5">
    <mat-card style="height: auto;">
        <mat-card-header>
            <h1>To-Do's</h1>
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="3" rowHeight="3:1">
                <mat-grid-tile *ngFor="let todo of todoList;">
                    <mat-card style="height:auto; width:100%;">
                        <mat-card-header>
                            Title: <span style="font-size: 1.5rem;">{{ todo.title }}</span>
                        </mat-card-header>

                        <mat-card-content>
                            <p>{{ todo.description }}</p> 
                            <p>Start:  {{ todo.start_date }}</p>
                            <p>End: {{ todo.end_date }}</p>
                        </mat-card-content>
                        
                        <mat-card-actions>
                            <div class="button-wrapper">
                                <button mat-raised-button color="warn" (click)="todoDel(todo)">Delete</button>
                            </div>
                        </mat-card-actions>   
                        
                    </mat-card>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>

<div>
    <button mat-icon-button style="background-color: white; bottom:50px; right:50px; position: fixed;" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
    </button>    
</div>
