<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="./todo.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
			rel="stylesheet"
			integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer" />
	</head>
	<body>
		<div class="main_container">
			<div class="input_container">
				<input class="input" type="text" />
				<input value="Add Task" class="button" type="button" />
			</div>
			<div class="display_container">
				<ul class="display_task">
					<h1 class="task_container_title">Tasks List:</h1>
				</ul>
			</div>
		</div>

		<script src="./todo.js"></script>
	</body>
</html>

