<div class="title-container">
  <h1 style="font-size:2.5rem; color: #fff; margin-left: 40px;">DoList</h1>
</div>
<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      
      <mat-card-title style="font-size: 2.3rem; font-family: Arial, Helvetica, sans-serif;">Log<span style="color:#00539B; font-weight: 600;">In</span> </mat-card-title>
      
    </mat-card-header>
    
    <mat-card-content>
      <div class="credentials-container">
      <div class="credential-container">
      <mat-form-field class="example-full-width">
        <input type="Email" placeholder="Email" matInput  required>
      </mat-form-field>
    </div>
    <div class="credential-container">
      <mat-form-field class="example-full-width">
        <input type="password" placeholder="Password" matInput required>
      </mat-form-field>
    </div>
  </div>
  <div class="btn-container" >
    <button mat-raised-button color="primary" style="width:120px; background-color:#007DC5; color:#fff; font-size: 1.2rem;">Log in</button>
    <button id="btn-register" mat-button style="color:#084e8b; margin-left: 5px;">Register</button>
  </div>
    </mat-card-content>
  </mat-card>
  
</div>